/* CSS reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Playfair Display", "Noto Serif", serif;
    line-height: 1.6;
    background-color: #F7EBE8;
    color: #FFA987;
}

header {
    width: 25%;
    float: left;
    padding-bottom: 0;
}

nav ul {
    text-align: right;
}

nav li {
    border: none;
}

nav li a {
    padding: 0.5em 1em;
}