/* CSS reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Playfair Display", "Noto Serif", serif;
    line-height: 1.6;
    background-color: #F7EBE8;
    color: #444140;
}

img, video {
    max-width: 100%;
    display: block;
}

*{
    box-sizing: border-box;
}

/* mobile first style rules */

header {
    float: top;
    top: 0;
    background-color: #733100;
    color: #F7EBE8;
    vertical-align: center;
    text-align: center;
    clear: both;
    padding: none;
}

header img {
    margin: 0 auto;
}

nav {
    padding: 3%;
    margin-bottom: 1%;
    background-color: #FFA987;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    font-size: 1em;
    border: 1px solid #F7EBE8;
}

nav li a {
    text-decoration: none;
    color: #F7EBE8;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: auto;
}

.nav a {
    flex: 1;
    text-align: center;
    padding: 10px;
}